@charset "utf-8";
      /* ====기본스타일==== */
      .clearfix::after{display:block;content:"";clear:both;}
      .row{background:white;width:100%;margin:0 auto;}
      #wrap{font-family:'Nanum Gothic';color:#1c1c1c;}

      .header{position:fixed;left:0;top:0;z-index:1;background:white;margin:0 auto;width:100%;}
      .header>.header_top>.pc_top{display:none;padding:27px 0;}
      .header>.header_top>.pc_top>.gnb_lmenu{float:left;width:40%;padding-left:1%;}
      .header>.header_top>.pc_top>.gnb_lmenu>li{display:inline-block;margin-right:10.1123595505618%;}
      .header>.header_top>.pc_top>a{float:left;width:20%;text-align:center;}
      .header>.header_top>.pc_top>.gnb_rmenu{float:right;width:40%;padding-right:1%;text-align:right;}
      .header>.header_top>.pc_top>.gnb_rmenu>ul{display:inline;}
      .header>.header_top>.pc_top>.gnb_rmenu>ul>li{display:inline-block;margin-left:5%;}
      .header>.header_top>.pc_top>.gnb_rmenu>ul>li>a{font-size:12px;font-weight:bold;}
      .header>.header_top>.mobile_top{background:#af0000;padding:13px 0;}
      .header>.header_top>.mobile_top>.main_tit{float:left;width:50%;margin-left:25%;padding:0 2.222222222222222%;text-align:center;}
      .header>.header_top>.mobile_top>.main_tit>a{font-family:'Archivo Black';font-size:18px;line-height:28px;color:#fff;}
      .header>.header_top>.mobile_top>.tgl_btn{float:right;width:25%;padding:0 2.222222222222222%;}
      .header>.header_top>.mobile_top>.tgl_btn>ul{width:13px;float:right;margin-top:5px;cursor: pointer;}
      .header>.header_top>.mobile_top>.tgl_btn>ul>li{height:3px;margin-bottom:2px;background:#fff;text-indent:-9999px;}

      .header>.nav{position:relative;}
      .pc_nav{display:none;position:relative;}
      .pc_nav>.main_menu>li{float:left;width:16.66666666666667%;padding:12px 1%;text-align:center;font-family: 'Archivo Black', sans-serif;font-size:22px;}
      .pc_nav>.main_menu>li>a{color:#2c2c2c;}
      .pc_nav>.main_menu>li>a>p{font-size:12px;color:white;}
      .pc_nav>.main_menu>li:hover{background:#af0000;color:white;}
      .pc_nav>.main_menu>li:hover>a{color:white;}
      .pc_nav>.sub_menu{position:absolute;left:0;top:100%;z-index:11;width:100%;display:none;background:#666;padding:8px 0;}
      .pc_nav>.sub_menu>li{float:left;width:16.66666666666667%;}
      .pc_nav>.sub_menu>li>ul>li{text-align:center;padding:8px 0;font-size:14px;}
      .pc_nav>.sub_menu>li>ul>li>a{color:#ddd;}
      .pc_nav>.sub_menu>li>ul>li>a>span{font-family: 'Roboto', sans-serif;}
      .pc_nav>.sub_menu>li>ul>li:hover>a{color:white;font-weight:bold;}

      .mobile_nav{position:absolute;right:0;top:100%;z-index:10;width:50%;height:4000px;background:#666666;padding:20px 2.222222222222222%;}
      .mobile_nav>ul>li{cursor:pointer;font-family:'Roboto';font-size:18px;color:#fff;padding:6px 0;}
      .mobile_nav>ul>li>ul{display:none;}
      .mobile_nav>ul>li>ul>li{margin:6px 0;}
      .mobile_nav>ul>li>ul>li>a{font-size:12px;color:#fff;}

      .line{width:100%;height:2px;background:#af0000;display:none;}

      .footer{width:100%;}
      .footer a,.footer li{font-size:13px;color:#fff;}
      .footer .footer_none{display:none;}
      .footer>ul.row{padding:10px 0;background:#af0000;}
      .footer>ul:nth-child(1)>li{float:left;width:50%;padding:0 3.888888888888889%;margin:9px 0;text-align:center;}
      .footer>ul:nth-child(1)>li:nth-child(2n+1){border-right:1px solid #fff;}
      .footer>ul:nth-child(1)>li:hover>a{font-weight:bold;}
      .footer>ul:nth-child(2){padding-bottom:50px;}
      .footer>ul:nth-child(2)>li{text-align:center;padding-bottom:6px;}
      .footer>ul:nth-child(2)>li>span{display:block;padding-top:6px;}

      /* ====640px 이상 스타일==== */
      @media(min-width:640px){
         .footer>ul:nth-child(1)>li{width:25%;border-right:1px solid #fff;}
         .footer>ul:nth-child(1)>li:nth-child(4),.footer>ul:nth-child(1)>li:nth-child(10){border:none;}
      }

      /* ====720px 이상 스타일==== */
      @media(min-width:720px){
         .footer>ul:nth-child(2){padding:0 1.111111111111111%;}
         .footer>ul:nth-child(2)>li{text-align:left;}
         .footer>ul:nth-child(2)>li>span{display:inline;}
      }

      /* ====1280px 이상 스타일==== */
      @media(min-width:1280px){
         #wrap{width:100%;max-width:1980px;margin:0 auto;}
         .row{width:93.75%;}
         .header{position:static;width:93.75%;margin:0 auto;}
         .header>.header_top>.pc_top{display:block;}
         .header>.header_top>.mobile_top{display:none;}

         .pc_nav{display:block;}

         .line{display:block;}

         .footer{background:#af0000;}
         .footer .footer_none{display:block;}
         .footer>ul:nth-child(1)>li{width:auto;display:inline-block;padding:0 20px;}
         .footer>ul:nth-child(1)>li:nth-child(1){padding-left:0.9375%;}
         .footer>ul:nth-child(1)>li:nth-child(4){border-right:1px solid #fff;}
         .footer>ul:nth-child(1)>li:nth-child(10){border:none;}
         .footer>ul:nth-child(2){padding:0 0.9375% 50px;}
      }

      /* ====1440px 이상 스타일==== */
      @media(min-width:1440px){
         .header{width:83.33333333333333%;}
         .row{width:83.33333333333333%;}
      }

      /* ====1600px 이상 스타일==== */
      @media(min-width:1600px){
         .header{width:75%;}
         .row{width:75%;}
         .list_pc>p{font-size:15px;}
         .list_pc_list>li p{font-size:13px;}
      }

      /* ====1920px 이상 스타일==== */
      @media(min-width:1920px){
         .header{width:62.5%;}
         .row{width:62.5%;}
      }